table {
    width: 100%;
}

.mat-column-context {
    width: 128px;
    text-align: center;
}

.highlighted-row {
  background-color: whitesmoke;
}
.context-column-color {
  background-color: lightgrey;
}
.context-column-large-size {
  width: 140px;
}

.context-column-small-size {
  width: 16px;
}

.table-context-column-size {
  width: 4px;
}
