table {
    width: 100%;
}

.mat-column-context {
    width: 128px;
    text-align: center;
}

.highlighted-row {
  background-color: whitesmoke;
}
.context-column {
  width: 16px;
  background-color: lightgrey;
}
.context-column-header {
  width: 16px;
}
