.gradle
.idea
**/.gradle
build
**/build
db/**
tmp


cassiamon-customizing/output-data/*
cassiamon-customizing/definitions/schema/*
customized-code-generator/definitions/schema/*
domain/src/main/kotlin-generated/*
persistence/src/main/kotlin-generated/*
persistence/src/main/resources-generated/*
frontend-api/src/main/kotlin-generated/*
shared-domain/src/main/kotlin-generated/*

