.gradle
.idea
**/.gradle
build
**/build
db/**
tmp


sourceamazing-customizing/output-data
sourceamazing-customizing/definitions/schema
domain/src/main/kotlin-generated/*
persistence/src/main/kotlin-generated/*
persistence/src/main/resources-generated/*
frontend-api/src/main/kotlin-generated/*
shared-domain/src/main/kotlin-generated/*

