<ng-container *ngIf="author != undefined">
  <book-search-view
                   [showSelectButton]="false"
                   [showEditButton]="true"
                   [showDeleteButton]="true"
                   [showAddButton]="true"
                   [fixedMainAuthor]="author"
                   [searchEvent]="reloadAllBookEvent"
                   [isLocked]="isLocked"
                   [stackKey]="stackKey"
  ></book-search-view>
</ng-container>

<ng-container *ngIf="author == undefined">
  <p>Books can not be showed during creation of author.</p>
</ng-container>
