<mat-accordion [multi]="true">
  <mat-expansion-panel #searchPanel>
    <mat-expansion-panel-header>
      <mat-panel-title>Search Authors</mat-panel-title>
    </mat-expansion-panel-header>
    <author-search-box
      [isLocked]="isSearchAndResultLocked()"
      (searchClicked)="isSearchPerformed($event)"
    ></author-search-box>
  </mat-expansion-panel>

  <mat-expansion-panel #resultPanel expanded="true">
    <mat-expansion-panel-header>
      <mat-panel-title>Authors</mat-panel-title>
    </mat-expansion-panel-header>
    <author-search-result
      [allAuthor]="allAuthor"
      (chooseEntry)="selectEntry($event)"
      (editEntry)="editEntry($event)"
      (deleteEntries)="deleteEntries($event)"
      [highlightedAuthor]="highlightedAuthor"
      [showDeleteButton]="true"
      [showEditButton]="true"
      [showChoiceButton]="false"
      [isLocked]="isSearchAndResultLocked()"
    ></author-search-result>
    <button mat-raised-button color="primary" [disabled]="isSearchAndResultLocked()" (click)="addNewEntry()">Add new Author...</button>
  </mat-expansion-panel>

  <mat-expansion-panel #editPanel [expanded]="isEditPanelOpen()" [disabled]="isEditingPanelDisabled()">
    <mat-expansion-panel-header>
      <mat-panel-title>@if (isEditingLocked()) { Author Details } @else { Edit Author Details }</mat-panel-title>
    </mat-expansion-panel-header>
      <author-form-view
        [author]="selectedAuthor"
        [editingMode]="editingMode"
        [isLocked]="isEditingLocked()"
        (saveClicked)="savedEditedEntry($event)"
        (cancelClicked)="cancelEditing()"
      ></author-form-view>
  </mat-expansion-panel>

</mat-accordion>
<error-list [errorMessages]="errorMessages"></error-list>
