<mat-list>
  <div mat-subheader><mat-checkbox [checked]="isSelectedAll()" (change)="selectAllColumnClicked($event.checked)"><span class="list-title">Name</span></mat-checkbox></div>

  @for (entry of columnSelections; track entry.column.columnIdentifier) {
    <mat-divider></mat-divider>
    <mat-list-item>
      <mat-checkbox
        [id]="columnSelectionCheckboxId(asColumnSelectionEntry(entry))"
        [checked]="entry.isColumnSelected"
        (change)="columnSelectionClicked(entry, $event.checked)"
      >{{ entry.column.columnName }}</mat-checkbox>
    </mat-list-item>

  }
</mat-list>
