<h1>Books</h1>

<book-table-view [books]="books" [tableControlsDisabled]="isEditingMode()" (editEntryClicked)="onEdit($event)" (deleteEntryClicked)="onPerformDelete($event)"></book-table-view>

<div class="action-box">
  <button mat-raised-button color="primary" [disabled]="isEditingMode()" (click)="onNewEntry()">Add new book...</button>
</div>

<ng-container *ngIf="updateBookInstruction != undefined">
  <book-edit-view [updateBookInstruction]="updateBookInstruction!" (saveClicked)="onPerformUpdate($event)" (cancelClicked)="resetEdit()"></book-edit-view>
</ng-container>
<ng-container *ngIf="createBookInstruction != undefined">
  <book-add-view [createBookInstruction]="createBookInstruction!" (saveClicked)="onPerformCreate($event)" (cancelClicked)="resetEdit()"></book-add-view>
</ng-container>

