<h1>Author</h1>

<author-table-view
    [allAuthor]="allAuthor"
    [tableControlsDisabled]="isEditingMode()"
    (editEntryClicked)="onEdit($event)"
    (deleteEntryClicked)="onPerformDeleteOnServer($event)"
></author-table-view>


<div class="action-box">
    <button mat-raised-button color="primary" [disabled]="isEditingMode()" (click)="onNewEntry()">Add new Author...</button>
</div>

<ng-container *ngIf="isEditingMode()">
    <author-edit-view
        [author]="authorToEdit"
        (saveClicked)="onPerformCreateOrUpdateOnServer($event)"
        (cancelClicked)="resetEdit()"
    ></author-edit-view>
</ng-container>
