#
# Die Konfiguration von NPM kann in folgenden vier Dateien stehen.
#     per-project config file (/path/to/my/project/.npmrc)
#     per-user config file (~/.npmrc)
#     global config file ($PREFIX/etc/npmrc)
#     npm builtin config file (/path/to/npm/npmrc)
#
# Die Reihenfolge entspricht der Priorität.
# (Source: https://docs.npmjs.com/configuring-npm/npmrc.html)
#


save-exact=true
package-lock=true

#
# Bitte erzeuge in deinem Home-Verzeichnis eine Datei .npmrc mit folgendem Inhalt:
#   registry=https://npm.ergon.ch/
#
#
# Für Mitarbeiter der Coop Entwicklung (siehe https://jira.coop.ch/browse/JAZZ-8829):
#    registry=http://nexus.hs.coop.ch/nexus/content/groups/npm/
#    proxy=null
#    https-proxy=null
#    strict-ssl=false
#
#
#
