<div>
  <mat-form-field appearance="fill">
    <mat-label>Book Id</mat-label>
    <input matInput type="text" [(ngModel)]="updateBookInstruction.bookId.uuid" disabled="true">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Book name</mat-label>
    <input matInput type="text" [(ngModel)]="updateBookInstruction.bookName">
    <button *ngIf="updateBookInstruction.bookName" matSuffix mat-icon-button aria-label="Clear" (click)="updateBookInstruction.bookName=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>
<div>
  <button mat-raised-button color="primary" (click)="saveChanges()">Save</button>
  <button mat-raised-button color="secondary" (click)="cancelEdit()">Cancel</button>
</div>
