table {
    width: 100%;
}

.mat-column-context {
    width: 128px;
    text-align: center;
}

.highlighted-row {
  background-color: whitesmoke;
}

.selection-column-button-alignment {
  display: inline-block;
  vertical-align: middle;
}

.action-column-header-text-alignment {
  text-align: right;
}

.action-column-color {
  background-color: lightgrey;
}
.selection-column-size {
  width: 160px;
}

.action-column-size {
  width: 160px;
}
