<h2 *ngIf="isCreateMode()">Add Author</h2>
<h2 *ngIf="!isCreateMode()">Edit Author</h2>

<form [formGroup]="bookForm">
  <mat-card>
      <mat-card-content>
        <mat-tab-group (selectedTabChange)="openTab($event)">
          <mat-tab label="Commons">
            <div class="tab-content">
              <book-id-form-field *ngIf="!isCreateMode()" [bookIdFormControl]="bookIdFormControl" [bookId]="book?.bookId"></book-id-form-field>
              <book-name-form-field [bookNameFormControl]="bookNameFormControl" [bookName]="book?.bookName"></book-name-form-field>
              <main-author-form-field [mainAuthorFormControl]="mainAuthorFormControl" [mainAuthor]="book?.mainAuthor"></main-author-form-field>
            </div>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
      <mat-card-actions>
          <button mat-raised-button color="primary" type="submit" (click)="saveForm()" [disabled]="!isFormValid()">Save</button>
          <button mat-raised-button color="secondary" (click)="cancelForm()">Cancel</button>
      </mat-card-actions>
  </mat-card>
</form>
