<mat-card>
  <mat-card-header><mat-card-title>Authors</mat-card-title></mat-card-header>
  <mat-card-content>

  <author-table-view
  [allAuthor]="allAuthor"
  (selectEntryClicked)="select($event)"
  (editEntryClicked)="edit($event)"
  (deleteEntryClicked)="delete($event)"
  [highlightedAuthor]="highlightedAuthor"
  [showDeleteButton]="showDeleteButton"
  [showEditButton]="showEditButton"
  [showSelectButton]="showSelectButton"
  [isLocked]="isLocked"
  [stackKey]="stackKey"
></author-table-view>
    <error-list [errorMessages]="errorMessages"></error-list>
  </mat-card-content>
  <mat-card-actions>
    <button *ngIf="showCancelButton" mat-raised-button color="secondary" (click)="cancel()">Cancel</button>
    <button *ngIf="showAddButton" mat-raised-button color="primary" [disabled]="isLocked" (click)="add()">Add new Author...</button>
  </mat-card-actions>
</mat-card>
