<form [formGroup]="authorForm">
  <mat-tab-group (selectedTabChange)="openTab($event)">
    <mat-tab label="Commons">
      <div class="tab-content">
        @if(!isCreateMode()) {
          <section>
            <author-id-form-field [authorIdFormControl]="authorIdFormControl"></author-id-form-field>
          </section>
        }

        <section>
          <author-firstname-form-field [authorFirstnameFormControl]="authorFirstnameFormControl" [isLocked]="isLocked"></author-firstname-form-field>
          <author-lastname-form-field [authorLastnameFormControl]="authorLastnameFormControl" [isLocked]="isLocked"></author-lastname-form-field>
        </section>
      </div>
    </mat-tab>
  </mat-tab-group>
  <error-list [errorMessages]="errorMessages"></error-list>
  <button mat-raised-button color="primary" type="submit" (click)="saveForm()" [disabled]="!isFormValid() || isLocked">Save</button>
  <button mat-raised-button color="secondary" (click)="cancelForm()" [disabled]="isLocked">Cancel</button>
</form>
