<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Senegal Application </span>
  <a mat-button routerLink="/">Home</a>
  <a mat-button routerLink="/entities">Entities</a>
  <span class="bar-spacer"></span>
  <button mat-button mat-flat-button type="button" (click)="clearLocalStorage()">Clear local storage</button>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

