<table mat-table [dataSource]="books" class="mat-elevation-z8">

  <ng-container matColumnDef="bookId">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.bookId.uuid}} </td>
  </ng-container>

  <ng-container matColumnDef="bookName">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.bookName}} </td>
  </ng-container>

  <ng-container matColumnDef="context">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Context menu" [disabled]="tableControlsDisabled">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="onCtxEditClicked(element)">
          <mat-icon>edit</mat-icon>
          <span>Edit entry</span>
        </button>
        <button mat-menu-item (click)="onCtxDeleteClicked(element)">
          <mat-icon>delete</mat-icon>
          <span>Delete entry</span>
        </button>
      </mat-menu>


    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (dblclick)="onRowDoubleClicked(row)"></tr>
</table>
