<form [formGroup]="authorForm">
  <mat-card>
      <mat-card-header>
        <mat-card-title *ngIf="isCreateMode()">Add Author</mat-card-title>
        <mat-card-title *ngIf="!isCreateMode()">Edit Author</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <fieldset [disabled]="isLocked">
        <mat-tab-group (selectedTabChange)="openTab($event)">
          <mat-tab label="Commons">
            <div class="tab-content">
              <section *ngIf="!isCreateMode()">
                <author-id-form-field [authorIdFormControl]="authorIdFormControl" [authorId]="author?.authorId"></author-id-form-field>
              </section>
              <section>
                <author-firstname-form-field [authorFirstnameFormControl]="authorFirstnameFormControl" [firstname]="author?.firstname"></author-firstname-form-field>
                <author-lastname-form-field [authorLastnameFormControl]="authorLastnameFormControl" [lastname]="author?.lastname"></author-lastname-form-field>
              </section>
            </div>
          </mat-tab>
          <mat-tab label="Books">
            <div class="tab-content">
              <section>
                <all-book-by-author [author]="author" [reloadAllBookEvent]="tabBooksSelected" [isLocked]="isLocked" [stackKey]="stackKey"></all-book-by-author>
              </section>

            </div>
          </mat-tab>

        </mat-tab-group>
        </fieldset>
      </mat-card-content>
      <mat-card-actions>
          <button mat-raised-button color="primary" type="submit" (click)="saveForm()" [disabled]="!isFormValid() || isLocked">Save</button>
          <button mat-raised-button color="secondary" (click)="cancelForm()" [disabled]="isLocked">Cancel</button>
      </mat-card-actions>
  </mat-card>
</form>
