.mat-mdc-list-item-icon {
  color: rgba(0, 0, 0, 0.54);
}

.error-list-panel {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid rgba(0,0,0,.12);
  border-radius: 4px;
  background: #faf3f2;
}

.one-line {
  width: 100%;
}
