<h2>Edit Author</h2>

<mat-card>
    <mat-card-content>
        <mat-form-field appearance="fill">
            <mat-label>Author Id</mat-label>
            <input matInput type="text" [(ngModel)]="updateAuthorInstruction.authorId.uuid" disabled="true">
        </mat-form-field>
        
        <mat-form-field appearance="fill">
            <mat-label> firstname</mat-label>
            <input matInput type="text" [(ngModel)]="updateAuthorInstruction.firstname">
            <button *ngIf="updateAuthorInstruction.firstname" matSuffix mat-icon-button aria-label="Clear" (click)="updateAuthorInstruction.firstname=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label> lastname</mat-label>
            <input matInput type="text" [(ngModel)]="updateAuthorInstruction.lastname">
            <button *ngIf="updateAuthorInstruction.lastname" matSuffix mat-icon-button aria-label="Clear" (click)="updateAuthorInstruction.lastname=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="saveChanges()">Save</button>
        <button mat-raised-button color="secondary" (click)="cancelEdit()">Cancel</button>
    </mat-card-actions>
</mat-card>
