<h2 *ngIf="isCreateMode()">Add Author</h2>
<h2 *ngIf="!isCreateMode()">Edit Author</h2>

<form [formGroup]="authorForm">
  <mat-card>
      <mat-card-content>
        <mat-tab-group (selectedTabChange)="openTab($event)">
          <mat-tab label="Commons">
            <div class="tab-content">
              <section *ngIf="!isCreateMode()">
                <mat-form-field appearance="fill">
                  <mat-label>Author Id</mat-label>
                  <input matInput type="text" [formControl]="authorIdFormControl" >
                </mat-form-field>
              </section>
              <section>
                <mat-form-field appearance="fill">
                  <mat-label>Firstname</mat-label>
                  <input matInput type="text" [formControl]="firstnameFormControl">
                  <mat-error *ngIf="firstnameFormControl.hasError('required')">
                    Firstname is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>Lastname</mat-label>
                  <input matInput type="text" [formControl]="lastnameFormControl">
                  <mat-error *ngIf="lastnameFormControl.hasError('required')">
                    Lastname is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </section>
            </div>
          </mat-tab>
          <mat-tab label="Books">
            <div class="tab-content">
            <section>
              <book-table-view [books]="booksByAuthor" [tableControlsDisabled]="true" ></book-table-view>
              <div class="action-box">
                <button mat-raised-button color="primary" (click)="addBook()">Add new Book...</button>
              </div>
            </section>

            </div>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
      <mat-card-actions>
          <button mat-raised-button color="primary" type="submit" (click)="saveChanges()" [disabled]="!isFormValid()">Save</button>
          <button mat-raised-button color="secondary" (click)="cancelEdit()">Cancel</button>
      </mat-card-actions>
  </mat-card>
</form>
