<h2 *ngIf="isCreateMode()">Add Author</h2>
<h2 *ngIf="!isCreateMode()">Edit Author</h2>

<form [formGroup]="bookForm">
  <mat-card>
      <mat-card-content>
        <mat-tab-group (selectedTabChange)="openTab($event)">
          <mat-tab label="Commons">
            <div class="tab-content">
              <mat-form-field class="full-width-form-field" appearance="fill" *ngIf="!isCreateMode()">
                <mat-label>Book Id</mat-label>
                <input matInput type="text" [formControl]="bookIdFormControl" >
              </mat-form-field>
              <mat-form-field class="full-width-form-field" appearance="fill">
                <mat-label>Book Name</mat-label>
                <input matInput type="text" [formControl]="bookNameFormControl">
                <mat-error *ngIf="bookNameFormControl.hasError('required')">
                  Book Name is <strong>required</strong>
                </mat-error>
              </mat-form-field>
              <mat-form-field class="full-width-form-field" appearance="fill">
                <mat-label>Main Author</mat-label>
                <button matSuffix mat-icon-button (click)="onEditAuthor()" [disabled]="!hasMainAuthor()">
                  <mat-icon>edit</mat-icon>
                </button>
                <button matSuffix mat-icon-button (click)="onNewAuthor()">
                  <mat-icon>add</mat-icon>
                </button>
                <input matInput type="text" [formControl]="mainBookAuthorFormControl" [matAutocomplete]="mainAuthorAutocomplete">
                <mat-autocomplete #mainAuthorAutocomplete="matAutocomplete"  [displayWith]="displayAuthorFn">
                  <mat-option *ngFor="let author of authorsOptions | async" [value]="author" >
                    {{author.firstname}} {{author.lastname}}
                  </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="mainBookAuthorFormControl.hasError('required')">
                  Main Book Author is <strong>required</strong>
                </mat-error>
              </mat-form-field>

            </div>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
      <mat-card-actions>
          <button mat-raised-button color="primary" type="submit" (click)="saveChanges()" [disabled]="!isFormValid()">Save</button>
          <button mat-raised-button color="secondary" (click)="cancelEdit()">Cancel</button>
      </mat-card-actions>
  </mat-card>
</form>
