<mat-drawer-container class="sidenav-container">
  <mat-drawer mode="side" opened class="sidenav" >
    <side-navigation-link-list></side-navigation-link-list>
    <side-navigation-link-list></side-navigation-link-list>
    <side-navigation-link-list></side-navigation-link-list>
    <side-navigation-link-list></side-navigation-link-list>
    <side-navigation-link-list></side-navigation-link-list>
    <side-navigation-link-list></side-navigation-link-list>
    <side-navigation-link-list></side-navigation-link-list>
    <side-navigation-link-list></side-navigation-link-list>
    <side-navigation-link-list></side-navigation-link-list>
    <side-navigation-link-list></side-navigation-link-list>
    <side-navigation-link-list></side-navigation-link-list>
    <side-navigation-link-list></side-navigation-link-list>
    <side-navigation-link-list></side-navigation-link-list>
    <side-navigation-link-list></side-navigation-link-list>
    <side-navigation-link-list></side-navigation-link-list>
    <side-navigation-link-list></side-navigation-link-list>
    <side-navigation-link-list></side-navigation-link-list>
    <side-navigation-link-list></side-navigation-link-list>
  </mat-drawer>
  <mat-drawer-content class="entities-content">
    <div class="entities-content-inner-container">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
